<div class="container">
  <div
    class="display-center"
    appDragAndDrop
    (filesChangeEmiter)="onFileChange($event)"
  >
    <input
      type="file"
      name="file"
      id="file"
      (change)="onFileChange($event)"
      multiple
    />
    <label for="file"><span class="dropHere">Drop it here!</span></label>
  </div>

  <h1 class="text-center"> 
    List
  </h1>
  <div *ngFor="let file of files" class="text-center">

    <h3 class="">{{ file.name }}
    <button class="deleteButton" (click)="deleteFile(file)">x</button></h3>
  </div>
</div>
